<div class="containers mt-3 p-5">
  <h1 class="display-1 text-center p-4">Informações dos Cursos</h1>

  <div class="">
  <table class="table table-primary table-hover table-stripped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Carga horaria</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Java</td>
        <td>72h</td>
      </tr>
      <tr>
        <td>Python</td>
        <td>64h</td>
      </tr>
      <tr>
        <td>Angular</td>
        <td>92h</td>
      </tr>
      <tr>
        <td>NodeJs</td>
        <td>64h</td>
      </tr>
      <tr>
        <td>#C</td>
        <td>120h</td>
      </tr>
      <tr>
        <td>Java Script</td>
        <td>72h</td>
      </tr>
    </tbody>
  </table>
</div>